*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
    background-color: gray;
}
.navBtn{
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dd7b00;
    border: none;
    transition: .5s;
    transform-origin: center;
    z-index:2;
}

.navBtn.active{
    transform: rotate(90deg);
}

.navBtn .bar{
    position: absolute;
    width: 25px;
    height: 3px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 35%;
    background-color: white;
    transition: .5s;
}

.navBtn .bar.active{
    opacity:0;
}

.navBtn .bar.mid{
    top: 50%;
    width: 20px;
    left: calc(50% - 2.5px);
}

.navBtn .bar.bot{
    top: 65%;
    width: 15px;
    left: calc(50% - 5px);
}

.navBtn .plus.bar{
    top: 50%;
    opacity:0;
    transition: .5s;
}

.plus:nth-last-of-type(1){
    top: 50%;
    left: 25%;
    transform: rotate(90deg);
}

.navBtn .plus.active{
    opacity: 1;
}

.bigNavBg{
    position: fixed;
    transform-origin: center;
    bottom: 3vh;
    right: 3vh;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #dd7b00;
    transition: .5s .5s;
    transform: scale(1);
}

.bigNavBg.active{
   transform: scale(50);
}

nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: scale(0);
}

nav.active{
    transform: scale(1)
}

nav ul{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 50vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}